{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} <title>Cambiar contraseña | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto" style="max-width: 500px;">
    <div class="card">
        <div class="card-header text-center">
            <h2>Recuperar contraseña</h2>
        </div>
        <div class="card-body">
            <p>Ingresa los campos requeridos para recuperar tu contraseña.</p>
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="form-group mx-auto mt-2">
                    <label for="id_password1" class="form-label required">Contraseña</label> 
                    {% if form.errors.password1 %}
                        {{ form.password1 | add_class:"is-invalid"}}
                    {% else %}
                        {{ form.password1 }}
                    {% endif %}
                    <div class="invalid-feedback">
                        {{ form.errors.password1 }}
                    </div>
                </div>
                <div class="form-group mx-auto mt-2">
                    <label for="id_password2" class="form-label required">Confirmar contraseña</label>
                    {% if form.errors.password2 %}
                        {{ form.password2 | add_class:"is-invalid"}}
                    {% else %}
                        {{ form.password2 }}
                    {% endif %}
                    <div class="invalid-feedback">
                        {{ form.errors.password2 }}
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-2">Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}