{% extends 'base_login.html' %}

{% block content %}
    <div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Library</b>UTP</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Actualizacion de contraseña</p>
      <form  method="post" class="form-group"> {% csrf_token %}
            <div class="form-group">
                <label>Contraseña nueva</label>
                {{ form.password1 }}
            </div>
          <div class="form-group">
                <label>Cambiar la contraseña</label>
                {{ form.password2 }}
            </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Cambiar Contraseña</button>
      </form>

      <!-- /.social-auth-links -->

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}