{% {% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} <title>Cambiar COntraseña | Librería UTP</title> {% endblock %}

{% block content %}
<div class="container shadow d-xl-flex align-items-xl-center mt-auto mb-auto" style="background: var(--bs-white);border-radius: 10px;">
    <form class="w-100 mx-3 my-3" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="font-family: Roboto, sans-serif;">Registrarse</h1>
            </div>
        </div>
        <div class="col-sm-6">
            <label for="id_password1" class="form-label">Contraseña nueva</label>
            {{ form.password1 }}
        </div>
        <div class="col-sm-6">
            <label for="id_password2" class="form-label">Confirmar contraseña nueva</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Cambiar Contraseña</button>
    </form>
</div>

{% endblock %}