{% extends 'base.html' %}

{% block title %} <title>Eliminar administrador | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto" style="max-width: 500px;">
    <div class="card text-center">
        <div class="card-header">
            <h1>Eliminar administrador</h1>
        </div>
        <div class="card-body">
            <p>¿Estas seguro de que deseas eliminar este usuario? Está acción no podrá deshacerse.</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'users:listar-admin' %}" class="btn btn-secondary mx-2" role="button">Regresar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>

{% endblock %}