{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Usuarios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Usuario</th>
                            <th>Rol</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for a in admin%}
                      <tr>
                          <td>{{ a.nombres }}</td>
                          <td>{{ a.apellidos }}</td>
                          <td>{{ a.username }}</td>
                          <td> {% if a.nivel_accesibilidad == 1 %} Cliente {% else %} Administrador {% endif %}</td>
                          <td>
                            <div role="group" class="btn-group d-lg-flex">
                              <a class="btn btn-primary disabled" role="button">Cambiar rol</a>
                              <a class="btn btn-danger" role="button" style="margin-left: 10px;" href="{% url 'users:eliminar-admin' a.pk %}">Eliminar</a>
                            </div>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
{% endblock %}