{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Iniciar sesión | Librería UTP</title> {% endblock %}

{% block content %}
<div class="container shadow d-flex align-items-center mt-auto mb-auto" style="background: var(--bs-white);border-radius: 10px;">
    <form class="w-100 mx-3 my-3" method="POST">
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="font-family: Roboto, sans-serif;">Iniciar Sesión</h1>
            </div>
        </div>
        <div class="row g-3">
            <div class="col col-12"> {{ form.username }} </div>
            <div class="col col-12"> {{ form.password1 }} </div>
            <div class="col text-end col-12"><a href="{% url 'users:reset-password' %}">He olvidado mi contraseña</a></div>
            <div class="col text-center col-12"><button class="btn btn-primary" type="submit">Iniciar Sesión</button></div>
        </div>
    </form>
</div>

{% endblock %}
