{% extends 'base.html' %}

{% block title %} <title>Invitar administrador | Librería UTP</title> {% endblock %}

{% block content %}
        <div class="card ">
            <div class="card-header with-border">
                <i class="fa fa-warning"></i>

                <h3 class="card-title"><i class="fas fa-user"></i> Invitar administrador</h3>
            </div>
            <!-- /.box-header -->
            <div class="card-body">
                <form class="form-group" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                        <label>Email</label>
                        {{ form.email}}
                    </div>

                    <button type="submit" class="btn btn-primary   ">Enviar</button>

                </form>

            </div>
{% endblock %}

