{% extends 'base.html' %}

{% block title %} <title>Recuperar contraseña | Librería UTP</title> {% endblock %}

{% block content %}
<div class="container shadow d-flex align-items-center mt-auto mb-auto" style="background: var(--bs-white);border-radius: 10px;">
  <form class="w-100 mx-3 my-3" method="POST"> {% csrf_token %}
      <div class="row">
          <div class="col">
              <h1 class="text-center" style="font-family: Roboto, sans-serif;">Recuperar contraseña</h1>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p>Ingresa tu nombre de usuario para recuperar tu contraseña</p>
          </div>
      </div>
      <div class="row g-3">
          <div class="col col-12"><label class="form-label">Usuario</label> {{ form.username }} </div>
          <div class="col text-center col-12"><button class="btn btn-primary" type="submit">Recuperar contraseña</button></div>
      </div>
  </form>
</div>
{% endblock %}
