{% extends 'base_login.html' %}
{% block content %}
    <div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Library</b>UTP</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">

      <form  method="post" class="form-group"> {% csrf_token %}
          <p class="login-box-msg">Recupera tu contraseña</p>
            <div class="form-group">
                <label>Usuario</label>
                {{ form.username }}
            </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar Email</button>
      </form>

      <!-- /.social-auth-links -->

      <p class="mb-1">
      </p>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}
