{% extends 'base.html' %}

{% block title %} <title>Recuperar contraseña | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto">
    <div class="card">
        <div class="card-header">
            <h2>Recuperar contraseña</h2>
        </div>
        <div class="card-body">
            <p>Ingresa tu nombre de usuario para recuperar tu contraseña.</p>
            <form method="POST"> {% csrf_token %}
                <div class="row g-3">
                    <div class="col col-12"><label class="form-label">Usuario</label> {{ form.username }} </div>
                    <div class="col text-center col-12">
                        <button class="btn btn-primary" type="submit">Recuperar contraseña</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
