{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} <title>Actualizar información | Librería UTP</title> {% endblock %}

{% block content %}
    <div class="container text-left shadow mt-5" style="background: #f4f4f4; border-radius: 2%;">
        <h1 class="text-center" style="margin-top: 10px;">Actualizar información</h1>
        <main class="page landing-page">
            <div class="container">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label>Nombres</label> {{ form.nombres }} </div>
                            <div class="col"><label>Apellidos</label> {{ form.apellidos}} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label>Usuario</label> {{ form.username }} </div>
                            <div class="col"><label>Correo electronico</label> {{ form.email }} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label>Contraseña</label> {{ form.password1 }} </div>
                            <div class="col"><label>Confirmar contraseña</label> {{ form.password2 }} </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label>Dirección</label><input type="text" class="form-control" required placeholder="Ingresa tu dirección" /></div>
                            <div class="col"><label>Código postal</label><input type="number" class="form-control" required placeholder="Ingresa tu código postal" /></div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label>Identificación</label> {{ form.dni|attr:"class:form-control"|attr:"required:True" }} </div>
                            <div class="col"><label>Lugar de nacimiento</label> {{ form.lugar_nacimiento }} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label>Fecha de nacimiento</label> {{ form.fecha_nacimiento|attr:"class:form-control"|attr:"type:date"|attr:"required:True"|attr:"id:calendario" }} <label>Fecha actual: {{user.fecha_nacimiento}}</label> </div>
                            <div class="col"><label>¿Qué categorías te gustan?</label> {{ form.categoria }} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Foto de perfil</label> {{ form.avatar }} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col text-center align-self-center"><button class="btn btn-primary text-center" type="submit">Actualizar</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
    </script>

{% endblock %}