{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} <title>Actualizar información | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto">
    <div class="card">
        <div class="card-header text-center">
            <h1>Actualizar información</h1>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="row g-2">
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_nombres" class="form-label required">Nombres</label>
                        {% if form.errors.nombres %}
                            {{ form.nombres | add_class:"is-invalid"}}
                        {% else %}
                            {{ form.nombres }}
                        {% endif %}
                        <div class="invalid-feedback">
                            {{ form.errors.nombres }}
                        </div>
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_apellidos" class="form-label required">Apellidos</label>
                        {% if form.errors.apellidos %}
                            {{ form.apellidos | add_class:"is-invalid"}}
                        {% else %}
                            {{ form.apellidos }}
                        {% endif %}
                        <div class="invalid-feedback">
                            {{ form.errors.apellidos }}
                        </div>
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_username" class="form-label required">Usuario</label>
                        {{ form.username|attr:"readonly" }}
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_email" class="form-label required">Correo electronico</label> 
                        {{ form.email|attr:"readonly" }}
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_password1" class="form-label required">Contraseña</label> 
                        {% if form.errors.password1 %}
                            {{ form.password1 | add_class:"is-invalid"}}
                        {% else %}
                            {{ form.password1 }}
                        {% endif %}
                        <div class="invalid-feedback">
                            {{ form.errors.password1 }}
                        </div>
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_password2" class="form-label required">Confirmar contraseña</label>
                        {% if form.errors.password2 %}
                            {{ form.password2 | add_class:"is-invalid"}}
                        {% else %}
                            {{ form.password2 }}
                        {% endif %}
                        <div class="invalid-feedback">
                            {{ form.errors.password2 }}
                        </div>
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_dni" class="form-label required">Identificación</label>
                        {% if form.errors.dni %}
                            {{ form.dni|attr:"placeholder: Ingresa tu número de Identificación"|attr:"class:form-control is-invalid"|attr:"required:True" }}
                        {% else %}
                            {{ form.dni|attr:"placeholder: Ingresa tu número de Identificación"|attr:"class:form-control"|attr:"required:True" }}
                        {% endif %}
                        <div class="invalid-feedback">
                            {{ form.errors.dni }}
                        </div>
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_lugar_nacimiento" class="form-label required">Lugar de nacimiento</label>
                        {{ form.lugar_nacimiento }} 
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="calendario" class="form-label required">Fecha de nacimiento</label>
                        {% if form.errors.fecha_nacimiento %}
                            {{ form.fecha_nacimiento|attr:"class:form-control is-invalid"|attr:"type:date"|attr:"required:True"|attr:"id:calendario" }} 
                        {% else %}
                            {{ form.fecha_nacimiento|attr:"class:form-control"|attr:"type:date"|attr:"required:True"|attr:"id:calendario" }} 
                        {% endif %}
                        <div class="invalid-feedback">
                            {{ form.errors.fecha_nacimiento }}
                        </div>
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_categoria" class="form-label">¿Qué categorías te gustan?</label> 
                        {{ form.categoria | attr:"class:form-select" }}
                    </div>
                    <div class="form-group col-11 mx-auto">
                        <label for="id_avatar" class="form-label">Foto de perfil</label> 
                        {{ form.avatar | attr:"class:form-control-file" }}
                    </div>
                    <div class="text-center col-12"><button class="btn btn-primary" type="submit">Actualizar</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}