{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} <title>Actualizar información | Librería UTP</title> {% endblock %}

{% block content %}

    <!-- Hola mundo -->
    <div class="container shadow d-xl-flex align-items-xl-center mt-auto mb-auto" style="background: var(--bs-white);border-radius: 10px;">
        <form class="w-100 mx-3 my-3" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="font-family: Roboto, sans-serif;">Actualizar información</h1>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-sm-6"><label>Nombres</label> {{ form.nombres }} </div>
                <div class="col-sm-6"><label>Apellidos</label> {{ form.apellidos}} </div>
                <div class="col-sm-6"><label>Usuario</label> {{ form.username }} </div>
                <div class="col-sm-6"><label>Correo electronico</label> {{ form.email }} </div>
                <div class="col-sm-6"><label>Contraseña</label> {{ form.password1 }} </div>
                <div class="col-sm-6"><label>Confirmar contraseña</label> {{ form.password2 }} </div>
                <div class="col-sm-6"><label>Identificación</label> {{ form.dni|attr:"placeholder: Ingresa tu número de Identificación"|attr:"class:form-control"|attr:"required:True" }} </div>
                <div class="col-sm-6"><label>Lugar de nacimiento</label> {{ form.lugar_nacimiento }} </div>
                <div class="col-sm-6"><label>Fecha de nacimiento</label> {{ form.fecha_nacimiento|attr:"class:form-control"|attr:"type:date"|attr:"required:True"|attr:"id:calendario" }} </div>
                <div class="col-sm-6"><label>¿Qué categorías te gustan?</label> {{ form.categoria }} </div>
                <div class="col-12">Foto de perfil</label> {{ form.avatar }} </div>
                <div class="col text-center col-12"><button class="btn btn-primary" type="submit">Actualizar</button></div>
            </div>
        </form>
    </div>

    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
    </script>

{% endblock %}