{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} <title>Lista de administradores | Librería UTP</title> {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'assets/css/carrito.css' %}"> {% endblock %}

{% block content %}

{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <table class="default">
      <tr>
        <td>Producto</td>
        <td>Precio</td>
        <td>Cantidad</td>
        <td>Restar</td>
        <td>Añadir</td>
        <td>Eliminar</td>
        <td></td>
      </tr>
      {% for p in productos %}
          <tr>
            <td>{{p.productos.titulo}}</td>
            <td>{{p.productos.precio}}</td>
            <td>{{p.cantidad}}</td>
            <td>
                <form method="post" action="{% url 'compras:restar_producto' p.pk  %}"> {% csrf_token %}
                    <button type="submit">Restar</button>
                </form>
            </td>
              <td>
                <form method="post" action="{% url 'compras:sumar_producto' p.pk  %}"> {% csrf_token %}
                    <button type="submit">Sumar</button>
                </form>
            </td>
              <td>
                <form method="post" action="{% url 'compras:eliminar_producto' p.pk  %}"> {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </td>
          </tr>
      {% empty %}
          <p>No  tiene productos en el carro de compra</p>
      {% endfor %}
    </table>
    <h2>El total a pagar es: {{ total }}</h2>
    <form method="post" action="{% url 'compras:vaciar_carro' %}"> {% csrf_token %}
        <button type="submit">Vaciar carro</button>
    </form>
    <br>
    <form method="post"> {% csrf_token %}
        <p>Ingrese el numero de tarjeta se validara con las registradas</p>
        {{ form.metodo }}
        <button type="submit">Pagar</button>
    </form>
    <!-------Error de la tarjeta no existe ----->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!----Fin bloque--->




</body>
</html>