{% extends 'base.html' %}

{% block title %} <title>Crear devolución | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto" style="max-width: 500px;">
    <div class="card">
        <div class="card-header text-center">
            <h1>Devolución de libros</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>Por favor, indicanos los motivos de la devolución aquí abajo</p>
                {{ form.descripcion }}
                <div class="text-center mt-2">
                    <a href="{% url 'compras:listar_compras' %}" class="btn btn-danger mx-2" role="button">Cancelar</a>
                    <button class="btn btn-success" type="submit" style="margin-left: 10px;">Devolver</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}