<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
          <td><strong>Fecha Compra</strong></td>
          <td><strong>Total</strong></td>
          <td><strong>Cantidad</strong></td>


        </tr>
        {% for compra in compras %}
            <tr>
                <td>{{compra.fecha_compra }}</td>
                <td>{{ compra.total }}</td>
                <td>{% for c in  compra.compra_detalle.all  %}
                        {{ c.cantidad }}
                    {% endfor %}
                    </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>