{% extends 'base.html' %}

{% block title %} <title>Mis reservas | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container g-2">
    <div class="row text-center my-2">
        <div class="col">
            <h1>Mis reservas</h1>
        </div>
    </div>
    {% if reservas %}
        {% for reserva in reservas %}
            <div class="row" style="border-width: 1px;border-style: solid;">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <div class="row">
                        <div class="col">
                            <h2>{{ reserva.productos.titulo }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>{{ reserva.productos.autor }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p>{{ reserva.cantidad }}</p>
                            <form method="post" action="{% url 'compras:disminuir_reserva' reserva.pk %}" style="display:inline;">{% csrf_token %}
                                <button class="btn btn-primary mx-2" role="button" type="submit" >Disminuir</button>
                            </form>
                            <form method="post" action="{% url 'compras:aumentar_reserva' reserva.pk %}" style="display:inline;">{% csrf_token %}
                                <button class="btn btn-primary mx-2" role="button" type="submit">Aumentar</button>
                            </form>

                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <h4>Precio unitario: ${{ reserva.productos.precio }}</h4>
                        </div>
                    </div>
                    <div class="row text-end">
                        <form method="post" action="{% url 'compras:eliminar_reserva' reserva.pk %}" style="display:inline;">{% csrf_token %}
                                <button class="btn btn-danger my-2" role="button" type="submit">Eliminar</button>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
        <div>
            <h3>Realizar pago</h3>
            <h4>Total reserva {{ total }}</h4>
            <div class="row">
                <div class="col-md-6">
                    <form method="post" action="{% url 'compras:listar_reserva' %}" style="display:inline;">{% csrf_token %}
                        {{ form.metodo }}
                        <button class="btn btn-success my-2" role="button" type="submit"> pagar </button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div role="alert" class="alert alert-info text-center">
            <span>
                <strong>¡Aún no has hecho ninguna reserva!</strong><br />
            </span>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="container text-center mt-2">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Atras</a></li>
                        {% endif %}
                        {% for pagina in paginator.page_range %}
                            {% ifequal pagina page_obj.number  %}
                                <li class="page-item active"><a class="page-link" href="#">{{ pagina }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li>
                            {% endifequal %}

                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>

{% endblock %}