{% extends 'base.html' %}

{% block title %} <title>Enviar mensaje | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto" style="max-width: 500px;">
    <div class="card">
        <div class="card-header text-center">
            <h1>Unirse a un chat</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="checkview"> {% csrf_token %}
                <div class="my-2">
                  <label for="username" class="form-label required">Nombre de usuario</label>
                  <input class="form-control" type="text" name="username" id="username" placeholder="Ingresa el nombre del usuario con quien vas a chatear"/>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary" type="submit">¡Chatear!</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}