
<!-------------- crear noticas -------------------->

{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} <title>Actualizar información | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto">
    <div class="card">
        <div class="card-header text-center">
            <h1>Actualizar noticia</h1>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Titulo</label>
                                {{ form.titulo }}
                                <label>Genero</label>
                                {{ form.genero }}
                            </div>
                            <div class="col-md-6">
                                <label>Idioma</label>
                                {{ form.idioma }}

                                <br>
                                <label>Imagen</label>
                                {{ form.imagen }}
                            </div>
                            <div class="row">
                                <label>Decripcion</label>
                                {{ form.descripcion }}
                            </div>
                        </div>
                <div class="text-center col-12"><button class="btn btn-primary" type="submit">Crear libro</button></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}>