<!-------------- crear noticas -------------------->

{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %} <title>Crear noticia | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto">
    <div class="card">
        <div class="card-header text-center">
            <h1>Agregar Noticia</h1>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="row g-2">
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_titulo" class="form-label required">Título</label>
                        {{ form.titulo }}
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_genero" class="form-label required">Género</label>
                        {{ form.genero }}
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_idioma" class="form-label required">Idioma</label>
                        {{ form.idioma }}
                    </div>
                    <div class="form-group col-sm-5 mx-auto">
                        <label for="id_imagen" class="form-label required">Imagen</label> <br>
                        {{ form.imagen }}
                    </div>
                    <div class="form-group col-sm-11 mx-auto">
                        <label for="id_descripcion" class="form-label required">Descripción</label> 
                        {{ form.descripcion }}
                    </div>
                    <div class="text-center col-12"><button class="btn btn-primary" type="submit">Crear noticia</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}>