{% extends 'base.html' %}

{% block title %} <title>{{noticias.titulo}} | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container my-4">
    <div class="row text-center">
        <div class="col">
            <img class="img-fluid" src="{{ noticias.imagen.url }}" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>{{ noticias.titulo }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Autor: {{ noticias.autor }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ noticias.descripcion }}</p>
        </div>
    </div>
</div>

{% endblock %}