{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Inicio | Librería UTP </title> {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center mt-2">Novedades</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
            <div class="col col-lg-3 col-md-4 col-sm-6 product terror"><a href="#"><img class="img-fluid" src="{% static 'assets/img/VocesDeChernobil.jpg' %}">
                    <h4>Voces de Chernóbil</h4>
                    <h5>Svetlana Aleksiévich</h5>
                    <h6>ISBN&nbsp;9789588940151<br></h6>
                    <p class="lead text-center" style="font-weight: bold;font-size: 24px;">$60.000</p>
                </a></div>
        </div>
    </div>
    <div class="container text-center mt-2"><a class="btn btn-primary btn-lg mb-2" role="button" href="#">Mostrar más</a></div>
</main>
{% endblock %}