{% extends 'base.html' %}

{% block title %} <title>Eliminar libro | Librería UTP</title> {% endblock %}

{% block content %}

<div class="container mt-auto mb-auto" style="max-width: 500px;">
    <div class="card text-center">
        <div class="card-header">
            <h1>Eliminar libro</h1>
        </div>
        <div class="card-body">
            <p>¿Estas seguro de que deseas eliminar este libro? Está acción no podrá deshacerse.</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'libros:list_libro' %}" class="btn btn-secondary mx-2" role="button">Cancelar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>

{% endblock %}