{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="background: var(--bs-white);">
        <div class="row">
            <form method="post">{% csrf_token %}
                <div class="col" style="margin-bottom: 4px;">
                    <div class="card-group">
                        {% for libro in libros %}
                        <div class="card">
                             <img class="card-img-top" src="{{ libro.portada.url }}" alt="Card image cap" height="300 px" width="100 px">
                            <div class="card-body">
                                <h4 class="card-title">{{libro.titulo }}</h4>
                                <a href="{% url 'libros:detalle_libro' libro.pk %}" class="btn btn-primary" type="button">Button</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
            </div>
        </div>


        <div class="row">
            <div class="col d-flex d-xl-flex justify-content-center">
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        </div>
</div>
{% endblock %}