{% extends 'base.html' %}

{% block title %} <title>Lista de administradores | Librería UTP</title> {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Libros</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a class="btn mb-2" role="button" href="{% url 'libros:add_libro' %}" style="color: white; background-color: #6610f2;">Añadir libro</a>
        <a class="btn mb-2" role="button" href="{% url 'libros:crear_categoria' %}" style="color: white; background-color: #6f42c1;">Crear categoria</a>
      </div>
  </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for libro in libros%}
                      <tr class="text-center">
                          <td>{{ libro.titulo }}</td>
                          <td>{{ libro.autor }}</td>
                          <td>{{ libro.editorial }}</td>
                          <td> {{ libro.stock }}</td>
                          <td> ${{ libro.precio }}</td>
                          <td>
                            <div role="group" class="btn-group d-lg-flex">
                              <a class="btn btn-primary" role="button" href="{% url 'libros:update_libro' libro.pk %}">Editar</a>
                              <a class="btn btn-danger" role="button" style="margin-left: 10px;" href="{% url 'libros:eliminar_libro' libro.pk %}">Eliminar</a>
                            </div>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-5">
            <div class="container text-center mt-2">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Atras</a></li>
                      {% endif %}
                      {% for pagina in paginator.page_range %}
                          {% ifequal pagina page_obj.number  %}
                              <li class="page-item active"><a class="page-link" href="#">{{ pagina }}</a></li>
                              {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li>
                          {% endifequal %}

                      {% endfor %}
                      {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                       {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
  </div>
  
{% endblock %}